section.services {
  background: url("../../assets/images/bg_main-mobile_1.jpg") no-repeat 0 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $tablet-BP) {
    background-image: url("../../assets/images/bg_main-tablet.jpg");
  }

  @media screen and (min-width: $desktop-BP) {
    background-image: url("../../assets/images/bg_main-desktop.jpg");
  }

  .main-title {
    h1 {
      color: $black;
      text-align: center;
      font-size: 1.8rem;
      margin-bottom: 2rem;

      @media screen and (min-width: $tablet-BP) {
        font-size: 3.5rem;
      }

      @media screen and (min-width: $desktop-BP) {
        font-size: 5rem;
      }
    }
  }

  .main-subtitle {
    padding: 0 0 1rem;
  }

  .services-content {
    .container {
      padding: 0;
      .list-services {
        text-align: left;
        list-style: none;
        padding-left: 0.5rem;
        padding-bottom: 1rem;
        cursor: pointer;
        margin: 0;

        @media screen and (min-width: $desktop-BP) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 2rem 10rem;
          padding-top: 4.5rem;
          padding-bottom: 4.5rem;
        }

        li {
          background-size: 1.8rem;
          background-position: left center;
          background-repeat: no-repeat;
          padding-left: 3rem;

          @media screen and (min-width: $tablet-BP) {
            background-size: 2.5rem;
            padding-left: 5rem;
          }

          a {
            text-decoration: none;
            color: $dark;
            font-size: 1.6rem;
            line-height: 2.95;
            font-weight: bold;

            @media screen and (min-width: $tablet-BP) {
              font-size: 2.2rem;
              line-height: 3.48;
            }
            
            @media screen and (min-width: $desktop-BP) {
              font-size: 2.5rem;
              line-height: 2;
            }
          }

          &.service-1 {
            background-image: url("../icons/010-edificios.svg");
          }

          &.service-2 {
            background-image: url("../icons/004-estadisticas.svg");
          }

          &.service-3 {
            background-image: url("../icons/007-analisis-de-mercado.svg");
          }

          /* &.service-4 {
            background-image: url("../icons/009-estado-financiero.svg");
          } */

          &.service-5 {
            background-image: url("../icons/activos-1.svg");
          }

          &.service-6 {
            background-image: url("../icons/edificio-de-oficinas-1.svg");
          }

          &.service-7 {
            background-image: url("../icons/003-ruedas-dentadas.svg");
          }

          /* &.service-8 {
            background-image: url("../icons/006-cadena-de-valor-1.svg");
          }

          &.service-9 {
            background-image: url("../icons/005-buscar.svg");
          }

          &.service-10 {
            background-image: url("../icons/012-casas-1.svg");
          } */

          &.service-11 {
            background-image: url("../icons/justice-law-svgrepo-com.svg");
          }
        }
      }
    }
  }
}
