section.services-slider {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;

  @media screen and (min-width: $desktop-BP) {
    height: min(65vh, 720px);
  }

  .hero-slider {
    display: flex;
    width: 400%;
    height: auto;
    text-align: center;
    margin-left: -100%;

    @media screen and (min-width: $desktop-BP) {
      height: min(65vh, 720px);
    }

    .slider-section {
      width: 100%;
      position: relative;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .slider-info {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
          font-size: 2.2rem;
          font-weight: 900;
          color: $white;

          @media screen and (min-width: $tablet-BP) {
            font-size: 4rem;
          }

          @media screen and (min-width: $desktop-BP) {
            font-size: 6rem;
          }
        }
      }
    }
  }

  .slider-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
  }

  .btn-left {
    left: 0.1rem;
    background: url("../../assets/icons/arrow-left.svg") no-repeat center;

    @media screen and (min-width: $tablet-BP) {
      left: 1rem;
    }
  }

  .btn-right {
    right: 0.1rem;
    background: url("../../assets/icons/arrow-right.svg") no-repeat center;

    @media screen and (min-width: $tablet-BP) {
      right: 1rem;
    }
  }
}
