.content-we {
  padding: $section-gap 0 3rem;
  background-color: $bg-light;

  @media screen and (min-width: $tablet-BP) {
    padding: $section-gap-lg 0 3rem;
  }

  .container--medium {
    margin: 0 auto;
  }
  
  p {
    font-family: $ff-sans;
    font-size: 1.8rem;
    font-weight: 400;
    color: $muted-gray;
    text-align: center;
    line-height: 1.8;
    margin: 0 auto;

    @media screen and (min-width: $tablet-BP) {
     font-size: 2.2rem;
    }
  }
}
