/* LO QUE SE USA EN EL SITIO EN GENARAL */
/*-----------------------------------*\
    UNIVERSAL
\*-----------------------------------*/

/* :root {
  max-width: 1200px;  ******PREGNTAR********
} */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $bg-light;
  color: $charcoal;
  font-family: $ff-sans;
  margin: 0;
  padding-top: 7.2rem;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (min-width: $tablet-BP) {
    padding-top: 8rem;
  }

  @media screen and (min-width: $desktop-BP) {
    padding-top: 9rem;
  }

  * {
    box-sizing: border-box;
  }
}

.main-content {
  min-height: auto;
}

.container {
  padding: 0 2.4rem;

  @media screen and (min-width: $tablet-BP) {
    max-width: 760px;
    margin: 0 auto;
  }

  @media screen and (min-width: $desktop-BP) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.container--narrow {
  max-width: 850px;
}

.container--medium {
  max-width: 950px;
}

.container--wide {
  max-width: 1000px;
}

.is-fluid {
  width: 100%;
  height: auto;
}
