/* LO QUE SE USA EN EL SITIO EN GENARAL */
/*-----------------------------------*\
    UNIVERSAL
\*-----------------------------------*/

/* :root {
  max-width: 1200px;  ******PREGNTAR********
} */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $ff-nunito;
  padding-top: 7.2rem;
  overflow-x: hidden;

  @media screen and (min-width: $tablet-BP) {
    padding-top: 8rem;
  }

  @media screen and (min-width: $desktop-BP) {
    padding-top: 10rem;
  }

  * {
    box-sizing: border-box;
  }
}

.main-content {
  /* min-height: calc(100vh - 12.4rem); */
  min-height: auto;

/*   @media screen and (min-width: $tablet-BP) {
    min-height: calc(100vh - 17.1rem);
  } */

}

.container {
  padding: 0 2rem;

  @media screen and (min-width: $tablet-BP) {
    max-width: 800px;
    margin: 0 auto;
  }

  @media screen and (min-width: $desktop-BP) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.is-fluid {
  width: 100%;
  height: auto;
}
