section.content-certifications {
  .main-subtitle {
    h2 {
      font-size: 2rem;
      padding: 0 4.5rem;

      @media screen and (min-width: $tablet-BP) {
        font-size: 3.5rem;
      }

      @media screen and (min-width: $desktop-BP) {
        font-size: 4rem;
      }
    }
  }

  div.acordion {
    width: 100%;
    /*   max-width: 10rem; */
    text-align: center;
    margin-bottom: 2rem;

    @media screen and (min-width: $tablet-BP) {
      width: 90%;
      margin: 0 auto;
    }

    .block {
      margin: 0 0 1rem;
      /* padding: 1rem; */
      @include neo(1, 1rem, 1rem);

      @media screen and (min-width: $tablet-BP) {
        margin: 2.7rem;
      }

      &.active {
        .title-acordion {
          .title {
            span {
              transition: all 0.3s ease-in-out;
              transform: rotate(180deg);
            }
          }
        }
      }

      .title-acordion {
        cursor: pointer;
        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 0 1rem;
          padding: 1rem;
          font-size: 1.5rem;

          @include neo(1, 1rem, 1rem);

          @media screen and (min-width: $tablet-BP) {
            font-size: 2rem;
            padding: 2rem;
          }
        }

        span {
          display: inline-block;
          width: 1.5rem;
          height: 1rem;
          padding-left: 2rem;
          transition: all 0.3s ease-in-out;

          &.icon-acordion {
            background: url("../icons/acordion.svg") no-repeat center;
          }
        }
      }

      img {
        width: 35%;

        @media screen and (min-width: $tablet-BP) {
          width: 25%;
        }
        
        @media screen and (min-width: $desktop-BP) {
          width: 15%;
        }
      }

      .content-acordion {
        height: 0;
        padding: 0;
        overflow: hidden;
        transition: all 0.5s ease;

        p {
          padding: 1rem;
          margin: 0;
        }
      }
    }

    .block {
      &.active {
        .content-acordion {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 18rem;

          @media screen and (min-width: $tablet-BP) {
            height: 20rem;
          }
        }
      }
    }
  }
}
