section.cards-services {
  .container {
    @media screen and (min-width: $desktop-BP) {
      transform: translateY(-8rem);
      margin-bottom: -8rem;
    }

    .cards-wrapper {
      margin: 2rem auto;

      @media screen and (min-width: $tablet-BP) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .card-services {
        text-align: center;
        margin: 1rem auto;
        position: relative;
        box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.5);

        @media screen and (min-width: $tablet-BP) {
          width: calc(50% - 2rem);
          margin: 1rem;
        }

        @media screen and (min-width: $desktop-BP) {
          width: calc(33.33% - 2rem);
          margin: 1rem;
        }

        .card-image {
          height: 25rem;
          overflow: hidden;

          @media screen and (min-width: $tablet-BP) {
            height: 30rem;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .card-info {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 2.5rem;
          color: $white;

          @media screen and (min-width: $tablet-BP) {
            padding: 2rem;
          }

          @media screen and (min-width: $desktop-BP) {
            padding: 1.5rem;
          }

          .card-title {
            font-size: 2.4rem;
            font-weight: 700;
            margin: 0 auto;

            @media screen and (min-width: $tablet-BP) {
              font-size: 2.6rem;
            }
          }

          .card-paragraph {
            font-size: 2rem;
            font-weight: 100;
            margin-bottom: 4rem;
          }

          .card-button {
            button {
              width: 15rem;
              height: 4rem;
              font-size: 1.8rem;
              font-weight: 100;
              border: none;
              border-radius: 0.3rem;
              background-color: $gray-soft-1;
              cursor: pointer;
              transition: all 0.3s ease-in-out;

              @media screen and (min-width: $desktop-BP) {
                &:hover {
                  transform: scale(1.05);
                  transition: all 0.3s ease-in-out;
                  font-weight: bold;
                }
              }

              a {
                text-decoration: none;
                color: $wine;
              }
            }
          }
        }
      }
    }
  }
}
