section.hero-slogan {
  .hero-slogan-bg {
    background: url("../../assets/images/header_1.png") no-repeat center center;
    background-size: cover;
    padding: 2.1rem 0;


    h3 {
      color: white;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 400;

      @media screen and (min-width: $tablet-BP) {
        font-size: 3rem;
      }

      @media screen and (min-width: $desktop-BP) {
        font-size: 4rem;
      }
    }
  }
}
