footer.footer {
  background-color: $wine;
  width: 100%;
  height: auto;
  color: $white;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media screen and (min-width: $tablet-BP) {
    padding: 1rem;
  }

  @media screen and (min-width: $desktop-BP) {
    padding: 1rem 10rem;
    justify-content: flex-start;
  }

  .footer-logo {
    img {
      width: 5rem;
      height: auto;
      cursor: pointer;

      @media screen and (min-width: $tablet-BP) {
        width: 8rem;
      }

      @media screen and (min-width: $desktop-BP) {
        max-width: 10rem;
      }
    }
  }

  .footer-contact {
    
    @media screen and (min-width: $desktop-BP) {
      padding-left: 5rem;
    }

    .footer-links {
      margin: 0.5rem auto;
      font-size: 0.8rem;

      @media screen and (min-width: $tablet-BP) {
        margin: 0.6rem auto;
        font-size: 1.5rem;
      }
      
      @media screen and (min-width: $desktop-BP) {
        margin: 0.8rem auto;
      }

      a {
        text-decoration: none;
        color: $white;
      }
    }

    h5 {
      font-size: 0.8rem;
      margin: 0.5rem auto;

      @media screen and (min-width: $tablet-BP) {
        font-size: 1.5rem;
        margin: 0.6rem auto;
      }
    }

    p.is-small {
      font-size: 0.7rem;
      margin: 0 auto;

      @media screen and (min-width: $tablet-BP) {
        font-size: 1rem;
      }
    }
  }
}
