section.content-certifications {
  padding: $section-gap 0 $section-close;
  background-color: $bg-light;

  @media screen and (min-width: $tablet-BP) {
    padding: $section-gap-lg 0 $section-close;
  }

  .container {
    max-width: 1200px;
    margin: 4rem auto 0;
    padding: 0 2.4rem;
  }

  .certifications-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;

    @media screen and (min-width: $tablet-BP) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: $desktop-BP) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
