section.cards-services {
  padding: $section-gap 0 $section-close;
  background-color: $bg-light;

  @media screen and (min-width: $tablet-BP) {
    padding: $section-close 0 $section-close;
  }

  .container {
    @media screen and (min-width: $desktop-BP) {
      transform: translateY(-4rem);
      margin-bottom: -4rem;
    }

    .cards-wrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @media screen and (min-width: $tablet-BP) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3.5rem;
        justify-content: center;
      }

      @media screen and (min-width: $desktop-BP) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3.5rem;
      }
    }
  }
}
